.root {
  width: 16px;
  height: 16px;
  background: url('../../assets/minesweeper-sprites_9TPZzv3.png') no-repeat;
  background-position: -1px -52px;
    b

  &:hover {
    cursor: pointer;
  }
}

.open {
  background-position-x: -18px;
}

.openBomb {
  background-position-x: -103px;
}
.flag {
  background-position-x: -34px;
}

.question {
  background-position-x: -51px;
}

.one {
  background-position: -1px -68px;
}

.two {
  background-position: -17px -68px;
}

.three {
  background-position: -44px -68px;
}

.four {
  background-position: -60px -68px;
}

.five {
  background-position: -76px -68px;
}

.six {
  background-position: -92px -68px;
}

.seven {
  background-position: -108px -68px;
}

.eight {
  background-position: -68px -124px;
}
