.root {
  width: 16px;
  height: 16px;
  background: url('../../assets/minesweeper-sprites_9TPZzv3.png') no-repeat;
  background-position: -1px -52px;
}

.zero {
  background-position-x: -18px;
}
.one {
  background-position: -1px -68px;
}

.two {
  background-position: -17px -68px;
}

.three {
  background-position: -35px -68px;
}

.four {
  background-position: -51px -70px;
}

.five {
  background-position: -67px -68px;
}

.six {
  background-position: -85px -68px;
}

.seven {
  background-position: -102px -68px;
}

.eight {
  background-position: -118px -68px;
}

.openBomb {
  background-position-x: -103px;
}

.flag {
  background-position-x: -34px;
}

.question {
  background-position-x: -51px;
}
